<extend name="Public:base"/>
<block name="headjs"></block>

<block name="body">


<div class="row">
	<div class="col-xs-12 col-md-12">
	        <div class="widget">
	            <div class="widget-header ">
	                <span class="widget-caption">用户列表</span>
	                <div class="widget-buttons">
	                    <a href="#" data-toggle="maximize">
	                        <i class="fa fa-expand"></i>
	                    </a>
	                    <a href="#" data-toggle="collapse">
	                        <i class="fa fa-minus"></i>
	                    </a>
	                    <a href="#" data-toggle="dispose">
	                        <i class="fa fa-times"></i>
	                    </a>
	                </div>
	            </div>
	            <div class="widget-body">
	      			<div class="table-toolbar row">
	      			<form action="__URL__/showList" method="get" >
   	                 <div class="search-box col-sm-3" >
	                		<div>
	                			<span class="input-icon">
	                				<input type="text" name='searchValue' value="{$searchValue}" class="form-control" id="searchValue" placeholder="请输入用户昵称">
	                				<i class="glyphicon glyphicon-search circular blue"></i>
	                			</span>
	                		</div> 
	                	</div>	   
	 
	  					<div class="col-lg-2">

           		   				<select  id='type_id_select' name='type' >
							    	<option   value="" >请选择用户类型</option>
							    	<foreach name='user_type_list'  item="vo" key="key">
							    		<option <if condition=" $type eq $vo.id "> selected="selected"</if> value='{$vo.id}'>{$vo.name}</option>
							    	</foreach>
							    	
							 	</select> 
                    
                   		</div>

	                	<div class="col-sm-1">
	                		<input class="btn btn-palegreen" type="submit" id="search" value="搜索">
	                	</div>      
	                	</form>
	                	
	              
	           
	                </div>
		         
	                <table class="table table-striped table-hover table-bordered" id="editabledatatable">
	                    <thead>
	                        <tr role="row">
	                        	<th>序号</th>
	                        	<th>类型</th>
	                            <th>账号</th>
	                            <th>昵称</th>
	                            <th>邮箱</th>
	                            <th>手机号</th>
	                            
	       	                    <th style="min-width: 150px">操作</th>
	              
	                        </tr>
	                    </thead>
	
	                    <tbody id="tapeListTable">
	                    	<foreach name="list" item="vo" key="key">
		                        <tr>
		                            <td>{$key+1}</td>
		                            <td>{$vo.type}</td>
		                            <td>{$vo.account}</td>
		                            <td>{$vo.nickname}</td>
		                            <td>{$vo.email}</td>
		                            <td>{$vo.phone}</td>
		                            

		                			<td>
		                		
				     		   			<if condition="$my_modify_btn eq '1'">
										<a href="__URL__/modify?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"  class=" my_modify_btn btn btn-primary">修改</a>
										<else/>
										<a href="__URL__/detail?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"  class=" my_detail_btn btn btn-primary">详情</a>
										</if>
										
										<if condition="$my_del_btn eq '1'">
										<a href="__URL__/del?type=menu&id={$vo.id}" data-bb-handler="confirm" type="button"    class=" my_del_btn btn btn-danger  delete">删除</a>
							   			</if>
		                			</td>
		          
		             
		                         
		                        </tr>
	                        </foreach>                        
	                    </tbody>
	                </table><br/>
               <div class="row DTTTFooter">
					<div class="col-sm-6">
						<div class="dataTables_info" id="simpledatatable_info" role="alert" aria-live="polite" aria-relevant="all"></div>
					</div>
					<div class="col-sm-8 pull-right">
						<div class="dataTables_paginate paging_bootstrap" id="simpledatatable_paginate">
							<ul class="pagination" id="pageUl">
								{$page}
							</ul>
						</div>
					</div>				
            	</div>  								
	        </div>
	    </div>
	</div>
</div>

         
</block>

<block name="footjs">


<script type="text/javascript">

$("#type").select2();
	


</script>


</block>