<extend name="Public:base" />


<block name="body">
     <div class="row">
         <div class="col-lg-12 col-sm-12 col-xs-12">
             <div class="row">
                 <div class="col-xs-12">
                     <div class="widget radius-bordered">
                         <div class="widget-header">
                             <span class="widget-caption">公告信息</span>      
                         </div>
                         <div class="widget-body">
                          
    
    					 <form action="__URL__/save" method="post"  ><!--enctype="multipart/form-data"  -->
    					 				<notempty name="info">
    					 					<input type="hidden" class="form-control"  name="id" value="{$info.id}" >
    					 				 </notempty>
					        
					                    <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">公告内容</label>
		                                     <div class="col-lg-6">
		                                         <input type="text" class="form-control"  name="content" id="content" required="required" value="{$info.content}" >
		                                         
		                                     </div>
					     
				 
					                    </div>
						                 <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">开始时间</label>
		                                     <div class="col-lg-6">
		                                         <input type="datetime-local" class="form-control"  name="starttime" id="starttime" required="required" value="{$info.starttime}" >
		                                         
		                                     </div>

					                    </div>		
					                    
						                 <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">结束时间</label>
		                                     <div class="col-lg-6">
		                                         <input type="datetime-local" class="form-control"  name="endtime" id="endtime" required="required" value="{$info.endtime}" >
		                                         
		                                     </div>

					                    </div>	
					                    
					                     <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">是否在banner显示</label>
		                                     <div class="col-lg-6">
		                                        <select name='is_show'>
		                                        	<option <if condition="$info['is_show'] eq '1'">selected="selected"</if> value='1' >是</option>
		                                        	<option <if condition="$info['is_show'] eq '0'">selected="selected"</if> value='0' >否</option>
		                                        	
		                                        </select>
		                                         
		                                     </div>

					                    </div>	
					                    
					                    					                    
					     				 <div class='row' style="margin-top: 20px;margin-bottom: 20px;">
					                    	<div class='col-lg-4 col-lg-offset-5'>
					                    	<input class="btn btn-palegreen" type="submit" id="saveRecord" value="保存公告">
					                    	</div>
					                    </div>
					               		</form>
    
    
    
    
                     </div>
                 </div>                 
             </div>
             
         </div>
     </div>

 </block>
 
<block name="footjs">

<style type="text/css">
	.select2-container{
		padding-left: 0px;
		padding-right: 0px;
	}
</style>
<script type="text/javascript">

	$(function(){
		$('#start_time').timepicker({'showMeridian':false});
		$('#end_time').timepicker({'showMeridian':false});
	});



	$('.yearView').datetimepicker({
		autoclose: true,
		startView:3,minView:3,
        lang:"ch",           
        format:"yyyy-mm",      
        timepicker:false,  
    
        minDate: 0,   
  
        });
	
$(".bfjl_img").click(function(){
	//window.open($(this).attr('file'),'_blank');
	var filepath = $(this).attr("file");
	location.href = "__ROOT__/Home/Upload/downFile?filepath="+filepath;
});



</script>
</block>